# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: numbers are whole numbers

Strings:strings are alphabets which has to  beassigned using double quotes

Lists: List can store both alphabets and numbers which has to be assigned using []

Tuples: tuples are similar to lists but it cant be changed

Dictionaries: this is used for storing objects using a order 
 syntax : x={key1, value1, key2, value 2}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
print(4*(6+5))
print(4*6+5)
print(4+6*5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
int

In [9]:
a=3+1.5+4
type(a)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:sqrt

In [ ]:
# Square:*  * then square

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [7]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [8]:
# Method 2:
print(s[4])

o

##### Write a program to fill name and date in the letter template given below

In [14]:
letter = """Dear <|NAME|>,
Greetings from ABC coding house. 
I am happy to tell you about your selection
You are selected!
Have a great day ahead!
            Thanks and regards,
                        Bill
Date: <|DATE|>"""

In [15]:
print(letter)

Dear <|NAME|>,
Greetings from ABC coding house.
I am happy to tell you about your selection
You are selected!
Have a great day ahead!
            Thanks and regards,
                        Bill
Date: <|DATE|>

In [17]:
a=letter.replace("<|NAME|>","Nihal")
print(a)

Dear Nihal,
Greetings from ABC coding house.
I am happy to tell you about your selection
You are selected!
Have a great day ahead!
            Thanks and regards,
                        Bill
Date: <|DATE|>

In [34]:
b=a.replace("<|DATE|>","5-6-2001")
print(b)

Dear Nihal,
Greetings from ABC coding house.
I am happy to tell you about your selection
You are selected!
Have a great day ahead!
            Thanks and regards,
                        Bill
Date: 5-6-2001

##### Write a program to detect double spaces in a string

In [35]:
b.split()
b

'Dear Nihal,\nGreetings from ABC coding house. \nI am happy to tell you about your selection\nYou are selected!\nHave a great day ahead!\n            Thanks and regards,\n                        Bill\nDate: 5-6-2001'

##### Replace the double spaces from the above problem  with single spaces.

In [36]:
b.replace("  "," ")
b

'Dear Nihal,\nGreetings from ABC coding house. \nI am happy to tell you about your selection\nYou are selected!\nHave a great day ahead!\n            Thanks and regards,\n                        Bill\nDate: 5-6-2001'

## Lists

Build this list [0,0,0] two separate ways.

In [23]:
# Method 1:

list=[0,0,0,0]
list

[0, 0, 0, 0]

In [31]:
# Method 2:

list_method2 = [0 for _ in range(4)]
print(list_method2)

[0, 0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [37]:
list3 = [1,2,[3,4,'hello']]
print(list3)

[1, 2, [3, 4, 'hello']]

In [38]:
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [33]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [39]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [42]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [47]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [56]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][-1]['k2'][1]['tough'][-1]

['hello']

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are not immutable , they are created with ()

How do you create a tuple?<br><br>
t=(1,2,3)
print(t)

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [58]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

unique = set(list5)
unique

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [59]:
# Answer before running cell
2 > 3

False

In [60]:
# Answer before running cell
3 <= 2

False

In [ ]:
# Answer before running cell
3 == 2.0

In [62]:
# Answer before running cell
3.0 == 3

True

In [63]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [1]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!