# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else :
        return max (a,b)

In [2]:
# Check
print (lesser_of_two_evens(2,4))

2

In [3]:
# Check
print (lesser_of_two_evens(5,2))

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(words):
    wspl = words.split ()
    
    if len (wspl) != 2:
        return False
    
    return wspl [0][0] ==  wspl [1][0]

In [11]:
# Check
animal_crackers ('Levelheaded Llama')

True

In [13]:
# Check
animal_crackers ("Crazy Kangaroo")

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 :
        return True 
    elif n1 == 20 or n2 == 20 :
        return True 
    else :
        return False

In [17]:
# Check
makes_twenty (20,10)

True

In [18]:
makes_twenty(12,8)

True

In [19]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [32]:
def old_macdonald(inp):
    cap = inp[0].upper () + inp [1:3] + inp[3].upper () + inp [4:]
    return cap

In [33]:
old_macdonald ('macdonald')

'MacDonald'

In [29]:
def old_macdonald (inp):
    cap = inp[0].capitalize() + inp [1:3] + inp [3].capitalize() + inp [4:]
    return cap

In [30]:
# Check
old_macdonald ('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [69]:
#mthd 1

def master_yoda (inp):
    i = inp.split ()
    rev = reversed (i)
    res = " ".join (rev)
    return res

In [70]:
master_yoda ('I am home')

'home am I'

In [71]:
#mthd 2

def master_yoda (inp):
    spl = inp.split ()
    return " ".join (reversed(spl))

In [72]:
master_yoda ('I am home')

'home am I'

In [73]:
# Check
master_yoda ("We are ready ")

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [74]:
def almost_there(num):
    n = (abs (100-num) <= 10) or (abs (200 - num)<=10)
    return n

In [75]:
# Check
almost_there (90)

True

In [76]:
# Check
almost_there (104)

True

In [77]:
# Check
almost_there (150)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [4]:
def has_33(inp):
    for i in range (len(inp)-1):
        if inp [i] == 3 and inp [i+1] == 3:
            return True 
    return False

In [5]:
# Check
has_33 ([1,3,3])

True

In [8]:
# Check
has_33 ([1,3,1,3])

False

In [9]:
# Check
has_33 ([3,1,3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [44]:
def paper_doll(inp):
    comm = ''
    for i in  inp:
        comm  +=  i * 3
    return comm

In [45]:
# Check
paper_doll ('Hello')

'HHHeeellllllooo'

In [46]:
# Check
paper_doll ('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def double_letter(str):
    strReturn = ''
    for chr in str:
        strReturn += chr*n
    return strReturn

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [17]:
def blackjack(*inp):
    for i in inp:
        if sum (inp) <= 21:
            return sum (inp) 
        elif 11 in inp and sum (inp) > 21:
            return sum (inp) - 10
        else :
            return "BUST"

In [18]:
# Check
blackjack (5,6,7)

18

In [19]:
# Check
blackjack(9,9,9)

'BUST'

In [21]:
# Check
blackjack(9,9,11)

19

In [23]:
blackjack(22,33,22)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [7]:
def summer_69 (inp):
    if 6 in inp:
        index_6 = inp.index(6)
        if 9 in inp[index_6:]:
            b = inp[index_6:].copy()
            index_9 = b.index(9)
            index_9 = index_6 + index_9
            first_list = inp[:index_6]
            second_list = inp[index_9+1:]
            return (sum(first_list)+sum(second_list))
    else:
        return (sum(inp))

In [3]:
# Check
summer_69 ([1,3,5])

9

In [4]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [10]:
summer_69([2,9, 1, 6, 9, 11])

23

In [9]:
# Check 
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [72]:
def spy_game (inp):
    case = False 
    case2 = False 
    for i in inp :
        if (i == 0 and case is True ):
            case2 = True 
            continue 
        elif (i == 0) :
            case = True 
        elif (i == 7 and case2 is True) :
            return True 
    else :
        return False

In [66]:
# Check
spy_game ([1,2,4,0,0,7,5])

True

In [67]:
# Check
spy_game ([1,0,2,4,0,5,7])

True

In [73]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [5]:
def count_primes(limit):
    def is_prime(n):
        if n <= 1:
            return False
        if n <= 3:
            return True
        if n % 2 == 0 or n % 3 == 0:
            return False
        i = 5
        while i * i <= n:
            if n % i == 0 or n % (i + 2) == 0:
                return False
            i += 6
        return True
    
    count = 0
    for num in range(2, limit + 1):
        if is_prime(num):
            count += 1
            
    return count

In [3]:
def count_primes (inp):
    num = 0
    for i in range (2,inp + 1):
        prime = True 
        for j in range (2,i):
            if (i % j == 0):
                prime = False 
                break 
        if prime :
            num += 1
            return num

In [6]:
count_primes (100)

25

In [2]:
# Check

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [19]:
b =[
    ['1','1','1','1','0'],
    ['1','0','0','0','1'],
    ['1','1','1','1','0'],
    ['1','0','0','0','1'],
    ['1','1','1','1','0']
]

for i in b:
    for j in i:
        if j == '1':
            print ("*",end = " ")
        else:
            print (" ",end = " ")
    print (' ')

* * * *
*       *
* * * *
*       *
* * * *

****
*    *
****
*    *
****

***